{% extends 'orgbody.html' %}
{% block title %} About Us{% endblock title %}
{% block body %}

<div>
    <div class="about">
        <p>
            <h3>This is a Final Year Project of B.E(CSE)</h3>
            <p>This is saas machine learning platform for youtube comment analysis which fetch data from youtube API of youtube video 
                and then extract comments from youtube video and apply machine learning naive bayes classifer to know whether comment is 
                Positive or Negative. It shows percentage of positive and negative sentiments of comments. Aim of this Project is to give
                a youtube creator an easy idea abouts a sentiments of their youtube video comments. Because it is very diffcult to track
                each and every comment mannually. So this saas platform has created to solve this problem
            </p>
        </p>
    </div>
</div>
{% endblock body %}